:root {
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0.02em;
  line-height: 1.6;
}

body {
  padding: 1em;
}

.page-break {
  margin: 0 !important;
}

h1,
h2,
h3 {
  font-weight: 400;
  margin: 0;
}

h2 {
  text-align: center;
}

a {
  color: #0170fe;
  text-decoration: none;
}

ul li:not(:last-child) {
  margin-bottom: 0.6em;
}

.logo {
  border-radius: 4px;
}

.container {
  max-width: 996px;
  margin: 0 auto;
  text-align: justify;
  padding: 4em 0;
}

.container > *:not(:last-child) {
  margin-top: 0;
  margin-bottom: 1.5em;
}

.flex-center {
  display: flex;
  align-items: center;
}

.avatar {
  width: 14em;
  border-radius: 50%;
  margin-right: 2em;
}

.introduction {
  font-size: 1.2em;
}

.introduction .two-columns {
  display: flex;
  justify-content: space-between;
}

.introduction .links {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0.6em;
}

.introduction .links li {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.introduction .links > *:not(:last-child) {
  margin-right: 1em;
}

.introduction .links img {
  width: 1.2em;
  height: 1.2em;
  display: block;
}

.introduction .links img:not(:last-child) {
  margin-right: 0.5em;
}

.introduction .links span {
  font-size: 0.9em;
}

.introduction h1 {
  font-size: 1.4em;
  margin: 0.6em 0;
  line-height: 1;
}

.introduction p {
  margin: 0;
}

.skills {
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  line-height: 1;
}

.skills .skill {
  width: 32%;
}

.skills .skill div {
  white-space: nowrap;
  padding: 0.25em 0;
}

.skills .skill .header {
  font-weight: bold;
  border-bottom: 1px solid gray;
  padding-bottom: 0.2em;
  margin-bottom: 0.3em;
  text-align: center;
}

.jobs .flex-center {
  margin-top: -0.5em;
}

.jobs img {
  width: 5em;
  height: 5em;
  margin-right: 1em;
}

.jobs h3 {
  margin-bottom: 0.5em;
}

.jobs .description {
  margin-top: 0;
  padding: 0 1em;
  margin-bottom: 2em;
}

.jobs .description blockquote {
  margin: 1em 0;
  background-color: hsl(19, 96%, 94%);
  color: black;
  border-left: hsl(19, 96%, 60%) 8px solid;
  padding: 1em 2em;
  padding-left: 2em;
  border-radius: 2px;
}

.community div:not(:last-child),
.student div:not(:last-child) {
  margin-bottom: 1.5em;
}

h3 time {
  font-size: 0.8em;
  margin-left: 0.5em;
}

.community div img,
.student div img {
  width: 85%;
  display: block;
  margin: 0 auto;
}

.community div ul {
  display: flex;
  padding: 0;
}

.community div ul li {
  margin-left: 2.5em;
}

.contact-me th,
.contact-me td {
  padding: 0.5em;
}
