body {
  padding: 1em;
}

.skill .overflow table {
  min-width: auto;
}

.page-break {
  display: block;
  page-break-before: always;
  height: 40px;
}

.carousel img:first-child {
  opacity: 1 !important;
}
.carousel img:not(:first-child) {
  opacity: 0 !important;
}

ul.inline li {
  display: list-item;
  margin-left: 0px;
}

.case li a::after {
  content: attr(href);
  font-size: 0.75em;
  display: inline-block;
  margin-left: 1rem;
  opacity: 0.75;
}
